<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-tasks">
        <div class="card-header">
          <h5 class="card-category">Add Student To Profile Subjects</h5>
          <h4 class="card-title">Add Subject</h4>
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check-label">
                      <input
                        type="checkbox"
                        name="mathematics"
                        class="form-check-input"
                        id=""
                      />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
