<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-tasks">
        <div class="card-header">
          <h5 class="card-category">Greade and name of the student</h5>
          <h4 class="card-title">Add Subjects</h4>
        </div>
        <div class="card-body">
          <div class="table-full-width">
            <form (ngSubmit)="onSubmitForm(formData)" #formData="ngForm">
              <table class="table">
                <tbody>
                  <tr *ngFor="let subject of subjectSet1; let i = index">
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            checked
                            disabled
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td class="text-left">
                      <input
                        type="text"
                        [value]="subject"
                        class="form-control"
                        placeholder="Username"
                        disabled
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="religion_check"
                            [ngModel]="true"
                            #re_check="ngModel"
                          />

                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td style="cursor: pointer">
                      <select
                        name="religon"
                        class="form-control"
                        [ngModel]="'buddhist'"
                      >
                        <option value="buddhist">Buddhist</option>
                        <option value="catalic">Catalic</option>
                        <option value="roman_cathalic">Roman Cathalic</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="optional1_check"
                            [ngModel]="false"
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td>
                      <select
                        name="optional1"
                        class="form-control"
                        id=""
                        [ngModel]="'esten_music'"
                      >
                        <option value="esten_music">Easten Music</option>
                        <option value="wester_music">Western Music</option>
                        <option value="art">Arts</option>
                        <option value="danding">Dansing</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="optional2_check"
                            [ngModel]="false"
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td style="cursor: pointer">
                      <select
                        name="optional2"
                        class="form-control"
                        id=""
                        [ngModel]="'commerse'"
                      >
                        <option value="commerse">Commerse</option>
                        <option value="Health">Health</option>
                        <option value="it">IT</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <p style="color: red" *ngIf="!re_check.value">
                        You must be follow subject Religion
                      </p>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            class="form-check-input btn-round btn-success"
                            type="submit"
                            value="Submit"
                            [disabled]=""
                          />
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes
            ago
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="..." />
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img
                class="avatar border-gray"
                src="../assets/img/mike.jpg"
                alt="..."
              />
              <h5 class="title">Mike Andrew</h5>
            </a>
            <p class="description">michael24</p>
          </div>
          <p class="description text-center">
            "Lamborghini Mercy
            <br />
            Your chick she so thirsty <br />
            I'm in that two seat Lambo"
          </p>
        </div>
        <hr />
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
