<div class="panel-header"></div>
<div class="main-content">
  <div class="row my-view">
    <div class="col-md-6">
      <div class="card card-tasks">
        <div class="card-header">
          <h1 class="card-title">Add Subjects</h1>
          <h1 class="card-category">add subject to your carrier</h1>
        </div>
        <div class="card-body">
          <div class="table-full-width">
            <form (ngSubmit)="onSubmitForm(formData)" #formData="ngForm">
              <table class="table">
                <tbody>
                  <tr *ngFor="let subject of subjectSet1; let i = index">
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            checked
                            disabled
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td class="text-left">
                      <input
                        type="button"
                        [value]="subject | titlecase | subjectName"
                        class="form-control"
                        placeholder="Username"
                        style="cursor: pointer"
                        (click)="onSubjectCkick($event)"
                      />
                    </td>
                  </tr>
                  <tr *ngIf="isOptionalList1">
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            #op1Ref
                            name="optional1_check"
                            [ngModel]
                            required
                          />
                          <!-- to get the uncheck default need to do with grade -->
                          <!-- op1Ref used to validate the form disabled button -->
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td style="cursor: pointer">
                      <select
                        name="optional1"
                        class="form-control"
                        ngModel
                        #elRef1
                        (change)="onChangeListItemOption1(elRef1.value)"
                      >
                        <option
                          *ngFor="let opSub of optionalList1"
                          [value]="opSub"
                        >
                          {{ opSub | titlecase | subjectName }}
                        </option>
                      </select>
                    </td>
                  </tr>
                  <tr *ngIf="isOptionalList2">
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="optional2_check"
                            #op2Ref
                            [ngModel]="false"
                            required
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td style="cursor: pointer">
                      <select
                        name="optional2"
                        class="form-control"
                        id=""
                        ngModel
                        #elRef2
                        (change)="onChangeListItemOption2(elRef2.value)"
                      >
                        <option
                          *ngFor="let item of optionalList2"
                          [value]="item"
                        >
                          {{ item | titlecase | subjectName }}
                        </option>
                      </select>
                    </td>
                  </tr>

                  <tr *ngIf="isOptionalList3">
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="optional3_check"
                            #op3Ref
                            [ngModel]="false"
                            required
                          />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td style="cursor: pointer">
                      <select
                        name="optional3"
                        class="form-control"
                        id=""
                        ngModel
                        #elRef3
                        (change)="onChangeListItemOption3(elRef3.value)"
                      >
                        <option
                          *ngFor="let item of optionalList3"
                          [value]="item"
                        >
                          {{ item | titlecase | subjectName }}
                        </option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            class="form-check-input btn-round btn-success"
                            type="submit"
                            value="Submit"
                            [disabled]="!formData.valid"
                          />
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br />
              <hr />
              <p style="color: red" *ngIf="!formData.valid">
                You must follow all subjects
              </p>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats">
            <i class="now-ui-icons loader_refresh"></i>
            {{ timeInfo }}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="..." />
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img
                class="avatar border-gray"
                [src]="subjecRelatedData.imagePath"
                alt="..."
              />
              <h5 class="title">
                {{ subjecRelatedData.teacherName }}
              </h5>
            </a>
            <p class="description">
              {{ subjecRelatedData.subjectName | uppercase }}
            </p>
          </div>
          <p class="description text-center">
            {{ subjecRelatedData.subjectDes }}
          </p>
        </div>
        <hr />
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
