<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="image">
        <img
          src="https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&w=1000&q=80"
          alt="background_image"
        />
      </div>
      <div class="card-body">
        <div class="author">
          <a href="">
            <img
              class="avatar border-black"
              src="https://images.unsplash.com/photo-1497316730643-415fac54a2af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
              alt=""
            />
            <h4>User Name</h4>
          </a>
          <p class="description">username:@_user name</p>
        </div>
        <p class="blockquote blockquote-primary text-center">
          This is some desctription about the student
        </p>

        <div class="card-container">
          <div class="card-content">
            <h5 class="text-des cont-text">
              <i class="now-ui-icons users_single-02"></i>
              Surname: Amarasena
            </h5>
          </div>
          <div class="card-content">
            <h5 class="text-des cont-text">
              <i class="now-ui-icons users_single-02"></i>
              First Name: Damith
            </h5>
          </div>
          <div class="card-content">
            <h5 class="text-des cont-text">
              <i class="now-ui-icons users_single-02"></i>
              Last Name: Anuradha
            </h5>
          </div>
          <div class="card-content">
            <h5 class="text-des cont-text">
              <i class="now-ui-icons ui-1_email-85"></i>
              Email: damith@gmail.com
            </h5>
          </div>
          <div class="card-content">
            <h5 class="text-des cont-text">
              <i class="now-ui-icons objects_globe"></i>
              Grade: 12-MATH
            </h5>
          </div>
          <div class="card-content">
            <h5 class="text-des cont-text">
              <i class="now-ui-icons shopping_tag-content"></i>
              Age: 18
            </h5>
          </div>
          <div class="card-content">
            <h5 class="text-des cont-text">
              <i class="now-ui-icons ui-1_send"></i>
              address:5D53,national housing Scheme,raddolugama
            </h5>
          </div>
          <div class="card-content">
            <h5 class="text-des cont-text">
              <i class="now-ui-icons tech_mobile"></i>
              Mobile: 077134601
            </h5>
          </div>
          <div class="btn-group my-btn-group" role="group" aria-label="">
            <button href="#" type="button" class="btn btn-dark">
              Edit Profile
            </button>
            <button href="#" type="button" class="btn btn-dark">
              View Time Table
            </button>
            <button href="#" type="button" class="btn btn-dark">
              Send Email
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
