.card-content {
  font-family: "Zilla Slab", serif;
  padding-left: 10px;
  margin-top: 15px;
  border-bottom: solid rgb(201, 174, 87) 2px;
}

.aword-content {
  font-family: "Noto Serif", serif;
  padding-left: 10px;
  margin-top: 15px;
}

.card-container {
  margin: 20px;
}

.my-btn-group {
  margin-top: 35px;
}
