<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-user">
        <div class="image">
          <img
            src="https://media-exp1.licdn.com/dms/image/C4E1BAQF7iWczz8zg9A/company-background_10000/0?e=2159024400&v=beta&t=X2E3ZgSz1L-DaAIcQTopmeijvcvDLq1wEkomojcS29w"
            alt="background_image"
          />
        </div>
        <div class="card-body">
          <div class="author">
            <a href="">
              <img class="avatar border-black" [src]="imagePath" alt="" />
              <h4>{{ studentProfileData.username }}</h4>
            </a>
            <p class="description">
              username:{{ studentProfileData.username }}
            </p>
          </div>

          <div class="card-container">
            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons users_single-02"></i>
                Surname: {{ studentProfileData.surname }}
              </h5>
            </div>
            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons users_single-02"></i>
                First Name: {{ studentProfileData.firstName }}
              </h5>
            </div>
            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons users_single-02"></i>
                Last Name: {{ studentProfileData.lastName }}
              </h5>
            </div>
            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons ui-1_email-85"></i>
                Email: {{ studentProfileData.email }}
              </h5>
            </div>
            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons objects_globe"></i>
                Grade: {{ studentProfileData.grade }}
              </h5>
            </div>
            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons shopping_tag-content"></i>
                Age: {{ studentProfileData.age }}
              </h5>
            </div>
            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons shopping_tag-content"></i>
                Gender: {{ studentProfileData.gender }}
              </h5>
            </div>
            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons shopping_tag-content"></i>
                Class Teacher: {{ studentProfileData.classTeacher }}
              </h5>
            </div>
            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons ui-1_send"></i>
                address:<br />{{ studentProfileData.addressLine1 }} ,<br />
                {{ studentProfileData.addressLine2 }},<br />
                {{ studentProfileData.addressLine3 }},<br />
                {{ studentProfileData.city }}
              </h5>
            </div>
            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons tech_mobile"></i>
                Mobile: {{ studentProfileData.mobile }}
              </h5>
            </div>
            <div class="btn-group my-btn-group" role="group" aria-label="">
              <button
                href="#"
                type="button"
                class="btn btn-dark"
                (click)="onEditProfile()"
              >
                Edit Profile
              </button>
              <button href="#" type="button" class="btn btn-dark">
                View Time Table
              </button>
              <button href="#" type="button" class="btn btn-dark">
                Send Email
              </button>
              <button
                href="#"
                type="button"
                class="btn btn-dark"
                (click)="viewSubjectClick()"
              >
                View Subject
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-user">
        <div class="image">
          <img
            src="https://media-exp1.licdn.com/dms/image/C511BAQF1nvy7nYdt_w/company-background_10000/0?e=2159024400&v=beta&t=ht7eRIJbRM1FsocndkfrK-csvooQ_Zk-f3F6PK1YCng"
            alt="..."
          />
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img
                class="avatar border-gray"
                src="https://lk-maruads-1.nyc3.cdn.digitaloceanspaces.com/thumb_103339_0.png"
                alt="..."
              />
              <h5 class="title">Student Preformance</h5>
            </a>
          </div>
          <p class="description text-center">some default text</p>
          <hr />
          <div class="card-content">
            <h5 class="text-des cont-text">
              <i class="now-ui-icons location_bookmark"></i>
              Presnets: {{ studentPerformance.prasent }}
            </h5>
            <button
              style="float: right"
              class="btn btn-danger"
              (click)="toggleShowBtn()"
            >
              Show Dates
            </button>
          </div>
          <div class="card-content">
            <h5 class="text-des cont-text">
              <i class="now-ui-icons location_map-big"></i>
              Absents:{{ numOfAbsents }}
            </h5>
            <div class="aword-content" *ngIf="showDate">
              <h6
                class="text-des cont-text"
                *ngFor="let date of studentPerformance.absent"
              >
                <i class="now-ui-icons clothes_tie-bow"></i>
                {{ date }}
              </h6>
            </div>
          </div>
          <div class="card-content">
            <h5 class="text-des cont-text">
              <i class="now-ui-icons education_paper"></i>
              Special Awards
            </h5>
            <div class="aword-content">
              <h6
                class="text-des cont-text"
                *ngFor="let award of studentPerformance.awards"
              >
                <i class="now-ui-icons clothes_tie-bow"></i>
                {{ award }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
