<div class="panel-header"></div>

<div class="main-content">
  <div class="card" *ngIf="classStudentList">
    <!--Date details here-->
    <div class="card-header">
      <h4 class="mb-4 font-italic">Students Attendance</h4>

      <div class="row">
        <div class="col">
          <h6 class="text-muted">{{date| date: 'fullDate'}}</h6>
        </div>

        <!--Today stats here-->
        <div class="col-auto text-right">
          <label class="badge-pill badge-info">Total: {{classStudentList.studentListData.length}}</label>
          <label class="badge-pill badge-success">Present: {{classStudentList.studentListData.length-absent}}</label>
          <label class="badge-pill badge-danger">Absent:{{absent}}</label>
        </div>
      </div>
    </div>

    <div class="card-body border border-dark m-2">
      <!--current class and class teacher here-->
      <div class="row mb-4">
        <div class="col text-center">
          <label>Class:
            <input type="text" class="form-control" [ngModel]="classStudentList.grade" disabled>
          </label>
        </div>

        <div class="col text-center">
          <label>Class Teacher ID:
            <input type="text" class="form-control" [ngModel]="teacherID" disabled>
          </label>
        </div>

        <div class="col text-center">
          <label>Select Date:
            <input type="date" (change)="checkStatus()" class="form-control" [(ngModel)]="date">
          </label>
        </div>
      </div>

      <form #attendanceForm="ngForm">
    
        <!--Student list here-->
        <table class="table table-hover text-center">
          <tr class="bg-secondary">
            <th>Student ID</th>
            <th>Fullname</th>
            <th>Absent/Present</th>
          </tr>
          <tbody>
              <tr *ngFor="let student of classStudentList.studentListData">
                <td>{{student._id}}</td>
                <td>{{student.firstname + " " + student.lastname| titlecase }}</td>
                <td>
                  <mat-slide-toggle [name]="student._id" [ngModel]="true" (change)="onSliderChange($event)"></mat-slide-toggle>
                </td>
              </tr>
          </tbody>
        </table>

        <div class="col text-right">
          <button type="button" *ngIf="!marked" (click)="onAttendanceSubmit(attendanceForm.value)" class="btn btn-primary btn-sm">Submit</button>
          <button type="button" *ngIf="marked" (click)="onReSubmitbtnClick(attendanceForm.value)" class="btn btn-success btn-sm">Re-Submit</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="onCancelClick()">Cancel</button>
        </div>
    </form>

    </div>

    <!--Mark for otherclass details here-->
    <div class="card-footer mt-4">
      <div class="row">
       
        <div class="col-auto" *ngIf="!otherClass">
          <label>*Optional
          <button class="btn btn-dark btn-sm" (click)="otherClass=true">Mark For Other Class</button>
          </label>
        </div>
  
        <div class="col-auto" *ngIf="otherClass">
          <small *ngIf="enterClicked && error" class="errorClass">Please enter a valid ID</small>
          <input #other type="text" placeholder="Enter target teacher's ID" class="form-control">
          <button class="btn btn-dark btn-sm mt-2 mr-1" (click)="onEnterClick(other.value)">Enter</button>
          <button class="btn btn-dark btn-sm mt-2" (click)="otherClass=false">Cancel</button>
        </div>

      </div>
    </div>
  </div>

  <!--If not a class teacher-->
  <div class="card card-body" *ngIf="!classStudentList">
    <h4 class="text-muted text-center font-italic my-5">Sorry, You do not have permissions to enroll with student attendance</h4>
  </div>
</div>