<div class="card">
  <div class="card-header">
    <h4 class="card-title">Message Infomation</h4>
  </div>
  <div class="card-body">
    <h6 class="description">From :{{ selectedNotification.from }}</h6>
    <h6 class="description">To :{{ selectedNotification.to }}</h6>
    <h6 class="description">POST AT: {{ selectedNotification.time | date }}</h6>

    <div class="blockquote blockquote-primary text-center">
      <div #description></div>
    </div>
    <input
      type="button"
      value="You Have A Attachment"
      class="btn btn-social"
      (click)="onClickAttachment()"
    />
    <ng-template #show>
      <p>Please Select Notification</p>
    </ng-template>
  </div>
</div>
