<div class="panel-header"></div>
<div class="main-content">
  <div class="row my-view">
    <div class="col-md-7">
      <div class="card card-tasks">
        <div class="card-header">
          <h1 class="card-title">Reset Password</h1>
          <h1 class="card-category">Reset Your Passowrd</h1>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onPasswordReset(formData)" #formData="ngForm">
            <div class="card-content">
              <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label>Old Password</label>
                    <input
                      type="password"
                      name="old_password"
                      class="form-control"
                      ngModel
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label>New Password</label>
                    <input
                      type="password"
                      name="new_password"
                      #newPass="ngModel"
                      class="form-control"
                      ngModel
                      required
                      minlength="6"
                    />
                  </div>
                  <p
                    class="msg-error"
                    *ngIf="newPass.touched && !newPass.valid"
                  >
                    Password Need At Least 6-16 length
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input
                      type="password"
                      name="confirm_password"
                      class="form-control"
                      ngModel
                      #conPass="ngModel"
                      required
                      minlength="6"
                    />
                  </div>
                  <p
                    class="msg-error"
                    *ngIf="newPass.touched && newPass.value != conPass.value"
                  >
                    Password Not Match
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="btn-group">
                    <input
                      type="submit"
                      name="old_password"
                      class="btn btn-success form-control"
                      value="RESET NOW"
                      [disabled]="
                        !formData.valid || newPass.value != conPass.value
                      "
                    />
                    <input
                      type="button"
                      name="old_password"
                      class="btn btn-danger form-control"
                      value="CANCEL"
                      (click)="onCancel()"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
