<div class="panel-header"></div>

<div class="main-content">
  <!--All pending leaves here-->
  <div class="card card-body" *ngIf="!show">
    <h4 class="font-italic mb-4">Manage Leave Requests</h4>
    <h5 class="text-muted text-center">Pending Leave Requests...</h5>
    <table class="table table-hover text-center">
      <tr class="bg-info">
        <th>Leave ID</th>
        <th>User ID</th>
        <th>Date for Leave</th>
        <th>Type</th>
      </tr>

      <tbody>
        <tr *ngFor="let leave of pendingLeaves.pendingLeaveData" (click)="onRowClick(leave)">
          <td>{{leave.leaveid}}</td>
          <td>{{leave.userid}}</td>
          <td>{{leave.leavedate| date}}</td>
          <td>{{leave.leavetype}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--Specific one leave here-->
  <div class="row" *ngIf="show">
    <div class="col-md-6">
      <div class="card card-body">
        <h5 class="text-muted text-center mb-3">Leave Details</h5>
        <!--Selected Leave main details here-->
        <div class="row">
          <div class="col">
            <label>Leave ID</label>
            <input type="text" [value]="selectedLeave.leaveid" class="form-control" disabled>
          </div>
      
          <div class="col">
            <label>User ID</label>
            <input type="text" [value]="selectedLeave.userid" class="form-control" disabled>
          </div>
      
          <div class="col">
            <label>Leave Date</label>
            <input type="text" [value]="selectedLeave.leavedate|date" class="form-control" disabled>
          </div>
      
          <div class="col">
            <label>Type</label>
            <input type="text" [value]="selectedLeave.leavetype" class="form-control" disabled>
          </div>
        </div>
        
        <!--Description of leave-->
        <div class="form-group">
          <ul class="list-group mt-4">
            <li class="list-group-item">Fulname: {{selectedLeave.fullname|titlecase}}</li>
            <li class="list-group-item">Role: {{selectedLeave.roll|titlecase}}</li>
            <li class="list-group-item">Description: {{selectedLeave.leavedescription|titlecase}}</li>
          </ul>
        </div>
    
        <div class="form-group text-center">
          <button type="button" (click)="onBackClick()" class="btn btn-sm btn-info">Back</button>
          <button type="button" (click)="handleLeave(accept=true)" class="btn btn-sm btn-success">Allow</button>
          <button type="button" (click)="handleLeave(accept=false)" class="btn btn-sm btn-danger">Reject</button>
        </div>
      </div>
    </div>

    <!--Teacher class and subject details here-->
    <div class="col-md-6">
       <!--Subject section here-->
       <div class="card card-body">
          <h5 class="text-muted text-center mb-3">Teacher Details</h5>
          <div *ngIf="teacherProfileData.class!='No Class...'" class="form-group">
              <label>Class Teacher of</label>
              <input type="text" [value]="teacherProfileData.class" class="form-control w-50" disabled>
          </div>

          <table class="table text-center">
              <tr class="bg-secondary">
                  <th>Subject</th>
                  <th>Class</th>
              </tr>
              <tbody>
                  <tr *ngFor="let subject of teacherProfileData.subjects">
                      <td>{{subject.subjectname| titlecase}}</td>
                      <td>{{subject.grade}}</td>
                  </tr>
              </tbody>
          </table>

          <!--Leave stats here-->
          <div class="form-group w-25">
            <label>Leaves Available</label>
            <input type="text" [value]="teacherProfileData.numberofleaves" class="form-control" disabled> 
          </div>
        </div>
    </div>
  </div>

  <!--Message field here-->
  <div class="row w-75 mx-auto" *ngIf="message">
    <div class="card card-body">
      <h4 class="text-center p-2" [class.green]="accept" [class.red]="!accept">You are about to {{accept? 'accept':'reject'}} the leave request</h4>
      <div class="form-group">
        <label>Message</label>
        <input type="text" [value]="title" class="form-control" disabled>
      </div>

      <div class="form-group" *ngIf="!accept">
        <label>Reason:</label>
        <textarea class="form-control border border-dark-1" [(ngModel)]="reason"></textarea>
      </div>

      <div class="form-group text-center">
        <button class="btn btn-sm btn-info" (click)="onSendClick()">Send Message</button>
        <button class="btn btn-sm btn-danger" (click)="message=false">Cancel</button>
      </div>
    </div>
  </div>
</div>