tbody tr:hover{
    background-color: rgb(51, 46, 46);
    color: white;
    cursor: pointer;
}

.green{
    color: white;
    background-color: green;
}

.red{
    color: white;
    background-color: crimson;
}