<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Notification</h4>
        </div>
        <div class="card-body">
          <div *ngIf="!isClose; else default">
            <a
              style="cursor: pointer"
              *ngFor="let notification of notifications"
              (click)="onSelectNotification(notification)"
            >
              <div
                class="alert alert-info alert-with-icon"
                data-notify="container"
              >
                <button
                  type="button"
                  aria-hidden="true"
                  class="close"
                  (click)="removeNotification()"
                >
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <span
                  data-notify="icon"
                  class="now-ui-icons ui-1_bell-53"
                ></span>
                <span data-notify="message">{{ notification.message }}</span>
              </div>
            </a>
          </div>
          <ng-template #default>
            <p>No Notifications</p>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <app-notification-info
        [viewNotification]="selectedNotification"
      ></app-notification-info>
    </div>
  </div>
</div>
