.my-view {
  font-family: "Zilla Slab", serif;
  font-size: 20px;
  border-bottom: 2px #809fff solid;
}

.my-tx-col {
  color: black;
}
.sport-box {
  border: 2px rgb(158, 136, 136) solid;
  border-radius: 10px;
  padding: 5px;
}

.sport-pending {
  color: rgb(223, 81, 81);
  font-size: small;
  float: right;
}
