<div class="panel-header"></div>

<div class="main-content">
    <div class="card card-body">
        <h2 class="font-italic mb-5">Add New Teacher</h2>
        <!--Add teacher form here-->
        <form (ngSubmit)="onSubmit(addTeacher.value)" #addTeacher="ngForm">
            <div class="row mb-4">
                <div class="col-sm-7">
                    <label>Teacher ID</label>
                    <input type="text" name="id" [value]="teacherID" class="form-control" disabled>
                </div>
    
                <div class="col">
                    <label>Total Leaves</label>
                    <input type="number" name="nbrofleaves" ngModel="41" max="41" class="form-control w-50">
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label>First Name</label>
                    <input #fname="ngModel" type="text" name="firstname" ngModel class="form-control" required>
                    <span *ngIf="fname.invalid && fname.touched" class="error mb-1">This field is required</span>
                </div>
    
                <div class="col">
                    <label>Last Name</label>
                    <input #lname="ngModel" type="text" name="lastname" ngModel class="form-control" required>
                    <span *ngIf="lname.invalid && lname.touched" class="error mb-1">This field is required</span>
                </div>
            </div>

            <div class="form-group">
                <label>Surname</label>
                <input #sname="ngModel" type="text" name="surname" ngModel class="form-control" required>
                <span *ngIf="sname.invalid && sname.touched" class="error mb-1">This field is required</span>
            </div>

            <div class="row form-group mb-5">
                <div class="col">
                    <label>Username</label>
                    <input #uname="ngModel" type="text" name="username" [ngModel]="'@_'+fname.value| lowercase" class="form-control" required>
                    <span *ngIf="uname.invalid && uname.touched" class="error mb-1">This field is required</span>
                </div>
                <div class="col">
                    <label>Role</label>
                    <input type="text" name="role" ngModel="Teacher" class="form-control">
                </div>
                <div class="col">
                    <label>Start Year</label>
                    <input type="number" name="startyear" [ngModel]="startYear" [max]="startYear" class="form-control">
                </div>
            </div>

            <!--Profile pic upload here-->
            <div class="row my-3">
                <div class="col-auto">
                    <img src="{{profilePic}}" alt="profile pic">
                </div>

                <div class="col-auto">
                    <div class="form-group">
                        <label class="btn btn-dark">
                            Select Profile Picture
                            <input type="file" (change)="onChange($event)" accept="image/*">
                        </label>
                    </div>
                </div>
            </div>
            
            <!--subject selection here-->
            <div class="row form-group">
                <div class="col">
                    <label>Subject 1</label>
                    <select name="subject1" [(ngModel)]="subjects[0]" class="form-control p-1">
                        <option [value]="subject" *ngFor="let subject of allSubjects">{{subject}}</option>
                    </select>
                </div>

                <div class="col">
                    <label>Subject 2</label>
                    <select name="subject2" [(ngModel)]="subjects[1]" class="form-control p-1">
                        <option [value]="subject" *ngFor="let subject of allSubjects">{{subject}}</option>
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    <label>Mobile</label>
                    <input #mobile="ngModel" type="text" name="mobile" ngModel class="form-control" required>
                    <span *ngIf="mobile.invalid && mobile.touched" class="error mb-1">This field is required</span>
                </div>
                <div class="col-sm-8">
                    <label>Email</label>
                    <input #email="ngModel" type="email" name="email" ngModel class="form-control" required>
                    <span *ngIf="email.invalid && email.touched" class="error mb-1">This field is required</span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    <label>Birth Date</label>
                    <input type="date" name="birthdate" ngModel (change)="ageCalculate($event.target.value)" class="form-control">
                </div>
                <div class="col">
                    <label>Age</label>
                    <input type="text" name="age" [ngModel]="age" class="form-control" disabled>
                </div>
                <div class="col">
                    <label>Gender</label>
                    <select name="gender" ngModel class="form-control p-2">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>AddressLine 1</label>
                <input type="text" name="addressline1" ngModel class="form-control w-50">
            </div>

            <div class="form-group">
                <label>AddressLine 2</label>
                <input type="text" name="addressline2" ngModel class="form-control w-50">
            </div>

            <div class="form-group">
                <label>AddressLine 3</label>
                <input type="text" name="addressline3" ngModel class="form-control w-50">
            </div>

            <div class="form-group">
                <label>City</label>
                <input type="text" name="city" ngModel class="form-control w-25">
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-sm btn-info" [disabled]="addTeacher.invalid">Add Teacher</button>
                <button type="reset" class="btn btn-sm btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>