<div class="panel-header"></div>

<div class="main-content">
  <div class="row">
    <!--Teacher personal details here-->
    <div class="col-md-8">
      <div class="card card-user">
        <div class="image">
          <img src="./assets/img/header.jpg" alt="background_image" />
        </div>

        <div class="card-body">
          <div class="author">
            <a href="{{ imagepath }}">
              <img
                class="avatar border-black"
                [src]="imagepath"
                alt="profile picture"
              />
            </a>
            <p class="description">
              {{ teacherProfileData.username }}
            </p>
          </div>

          <div class="card-container">
            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons users_single-02"></i>
                Surname: {{ teacherProfileData.surname | titlecase }}
              </h5>
            </div>

            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons users_single-02"></i>
                First Name: {{ teacherProfileData.firstname | titlecase }}
              </h5>
            </div>

            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons users_single-02"></i>
                Last Name: {{ teacherProfileData.lastname | titlecase }}
              </h5>
            </div>

            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons ui-1_email-85"></i>
                Email: {{ teacherProfileData.email }}
              </h5>
            </div>

            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons tech_mobile"></i>
                Mobile: {{ teacherProfileData.mobile }}
              </h5>
            </div>

            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons shopping_tag-content"></i>
                Age: {{ teacherProfileData.age }}
              </h5>
            </div>

            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons shopping_tag-content"></i>
                Role: {{ teacherProfileData.role | titlecase }}
              </h5>
            </div>

            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons ui-1_send"></i>
                address:<br />
                {{ teacherProfileData.addressline1 }},<br />
                {{ teacherProfileData.addressline2 }},<br />
                {{ teacherProfileData.addressline3 }},<br />
                {{ teacherProfileData.city }}
              </h5>
            </div>

            <div class="card-content">
              <h5 class="text-des cont-text">
                <i class="now-ui-icons shopping_tag-content"></i>
                Description: {{ teacherProfileData.description }}
              </h5>
            </div>

            <!--Bottom button group here-->
            <div class="btn-group my-btn-group" role="group">
              <button
                href="#"
                type="button"
                class="btn btn-dark"
                (click)="onEditClick()"
              >
                Edit Profile
              </button>

              <a
                href="http://localhost:3000/{{ teacherProfileData.timatable }}"
                class="btn btn-dark"
                >View Timetable</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Teacher Qualification and Subjects-->
    <div class="col-md-4">
      <div class="row">
        <!--Subject section here-->
        <div class="card card-body">
          <div *ngIf="teacherProfileData.class != null" class="form-group">
            <label>Class Teacher of</label>
            <input
              type="text"
              [value]="teacherProfileData.class"
              class="form-control w-50"
              disabled
            />
          </div>

          <table class="table text-center">
            <tr class="bg-secondary">
              <th>Subject ID</th>
              <th>Subject Name</th>
              <th>Class</th>
            </tr>
            <tbody>
              <tr *ngFor="let subject of teacherProfileData.subjects">
                <td>{{ subject.subjectid }}</td>
                <td>{{ subject.subjectname | titlecase }}</td>
                <td>{{ subject.grade }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <!--Qualification here-->
        <div class="card card-body">
          <h6 class="text-muted font-italic">Qualifications</h6>
          <ul class="list-group">
            <li
              class="list-group-item font-weight-bold"
              *ngFor="let qualific of qualifications"
            >
              {{ qualific | titlecase }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
