<div class="panel-header"></div>

<div class="main-content">
    <!--Teacher personal details-->
    <div class="card card-user">
        <div class="image">
            <img src="./assets/img/header.jpg" alt="background_image"/>
        </div>

        <div class="card-body">
            <div class="author">
                <a href="">
                    <img class="avatar border-black" src="./assets/img/mike.jpg" alt="profile picture" />
                    <h4></h4>
                </a>
                <p class="description">
                    username:
                </p>
            </div>

            <div class="card-container">
                <div class="card-content">
                    <h5 class="text-des cont-text">
                        <i class="now-ui-icons users_single-02"></i>
                        Surname:
                    </h5>
                </div>

                <div class="card-content">
                    <h5 class="text-des cont-text">
                        <i class="now-ui-icons users_single-02"></i>
                        First Name:
                    </h5>
                </div>

                <div class="card-content">
                    <h5 class="text-des cont-text">
                        <i class="now-ui-icons users_single-02"></i>
                        Last Name:
                    </h5>
                </div>

                <div class="card-content">
                    <h5 class="text-des cont-text">
                        <i class="now-ui-icons ui-1_email-85"></i>
                        Email:
                    </h5>
                </div>

                <div class="card-content">
                    <h5 class="text-des cont-text">
                        <i class="now-ui-icons tech_mobile"></i>
                        Mobile:
                    </h5>
                </div>

                <div class="card-content">
                    <h5 class="text-des cont-text">
                        <i class="now-ui-icons shopping_tag-content"></i>
                        Age:
                    </h5>
                </div>

                <div class="card-content">
                    <h5 class="text-des cont-text">
                    <i class="now-ui-icons ui-1_send"></i>
                    address:<br>
                        Teacher.addressLine1 ,<br>
                        Teacher.addressLine2,<br>
                        Teacher.addressLine3,<br>
                        Teacher.city
                    </h5>
                </div>

                <div class="card-content">
                    <h5 class="text-des cont-text">
                        <i class="now-ui-icons objects_globe"></i>
                        Subject:
                    </h5>
                </div>

                <div class="card-content">
                    <h5 class="text-des cont-text">
                        <i class="now-ui-icons objects_globe"></i>
                        Qualifications:
                    </h5>
                </div>

                <div class="card-content">
                    <h5 class="text-des cont-text">
                        <i class="now-ui-icons shopping_tag-content"></i>
                        Description:
                    </h5>
                </div>

                <!--Bottom button group here-->
                <div class="btn-group my-btn-group" role="group" >
                    <button href="#" type="button" class="btn btn-dark">
                    Edit Profile
                    </button>
                    <button href="#" type="button" class="btn btn-dark">
                    View Time Table
                    </button>
                    <button href="#" type="button" class="btn btn-dark">
                    Send Email
                    </button>
                </div>

                </div>
        </div>
    </div>
</div>

































<!--div class="main-content">
    <div class="card card-user">
        
        <div class="image">
            <img src="assets/img/header.jpg" alt="image1">
        </div>
      
        <div class="card-body">
            <div class="author">
                <img class="avatar" src="assets/img/mike.jpg" alt="photo">
                <h4>Teacher Name</h4>
                <p class="description">username: abcdeg_1234</p>
            </div>

        <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="bg-warning">
                        <mat-panel-title>Personal Information</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="card-body">
                        <h6 class="text-des cont-text">
                          <i class="now-ui-icons users_single-02"></i>
                          Surname: Jayalath
                        </h6>

                        <h6 class="text-des cont-text">
                            <i class="now-ui-icons users_single-02"></i>
                            Last name: Himaruwan
                        </h6>

                        <h6 class="text-des cont-text">
                            <i class="now-ui-icons users_single-02"></i>
                            First name: Shashika
                        </h6>

                        <h6 class="text-des cont-text">
                            <i class="now-ui-icons users_single-02"></i>
                            Email: sashkia1996@gmail.com
                        </h6>

                        <h6 class="text-des cont-text">
                            <i class="now-ui-icons users_single-02"></i>
                            Phone name: 077-1234567
                        </h6>

                        <h6 class="text-des cont-text">
                            <i class="now-ui-icons users_single-02"></i>
                            Age: 24 yr
                        </h6>

                        <h6 class="card-title">
                            <i class="now-ui-icons users_single-02"></i>
                            Role: Maths Teacher
                        </h6>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="bg-primary">
                        <mat-panel-title>Educational Qualifications</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="card-body bg-secondary">
                        <p>Qualifications here</p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="bg-success">
                        <mat-panel-title>Timetable and Classes</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="card-body bg-secondary">
                        <table class="table">
                            <thead class="text-center">
                                <th>Class</th>
                                <th>Time</th>
                                <th>Subject</th>
                            </thead>

                            <tbody class="text-center">
                                <tr>
                                    <td>9B</td>
                                    <td>08-10</td>
                                    <td>Maths</td>
                                </tr>
                                
                                <tr>
                                    <td>11A</td>
                                    <td>10-12</td>
                                    <td>Maths</td>
                                </tr>

                                <tr>
                                    <td>11D</td>
                                    <td>12-1</td>
                                    <td>Maths</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-expansion-panel>
        </mat-accordion>

        </div>
            
    </div>
</div-->
