<div class="main-content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col bg-success card">
                    <h4 class="card-title">Available Leaves</h4>
                    <span class="label label-dark">hello</span>
                </div>

                <div class="col bg-danger card">
                    <h4 class="card-title">Leaves Taken</h4>
                    <span class="label label-dark">hello</span>
                </div>
            </div>
        </div>

        <div class="card-body">
            
            <form>
                <div class="form-group">
                    <label>User ID</label>
                    <input class="form-control" type="text" disabled placeholder="Auto complete">
                </div>

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" disabled placeholder="Auto complete">
                </div>

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" disabled placeholder="Auto">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Auto">
                </div>

                <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Auto">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control"></textarea>
                </div>

                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-success">Send</button>
                    <button type="reset" class="btn btn-danger">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>