<!--Header section here-->
<header>
  <nav class="navbar bg-dark">
    <ul class="nav nav-navbar">
        <li class="nav-link btn btn-sm btn-danger mr-1" role="button" (click)="tabActivate(tab.name)" *ngFor="let tab of tabs">
          {{tab.name}}
        </li>
    </ul>

    <div>
      <app-login></app-login>
    </div>
  </nav>
</header>

<!--Body section here-->
<main class="text-center card" [ngSwitch]="tabName">
  <app-home *ngSwitchCase="'Home'"></app-home>
  <app-staff *ngSwitchCase="'Academic Staff'"></app-staff>
  <app-downloads *ngSwitchCase="'Downloads'"></app-downloads> 
  <app-about *ngSwitchCase="'About'"></app-about>
</main>

<!--Footer section here-->
<footer>
  <div class="card-body">
    <div class="row footerText">

      <!--Contact details here-->
      <div class="col text-center">
        <h3>Contact Us</h3>
        <p>
          <strong>Address: </strong>{{schoolAddress}}
        </p>
        <p>
          <strong>Phone: </strong>{{schoolPhone}}<br>
          <strong>Email: </strong>{{schoolMail}}<br>
        </p>
      </div>

    </div>
  </div>
</footer>