<div class="card bg-danger">
  <!--School logo are-->
  <div class="logodiv">
    <img class="logo" src="{{ logoUrl }}" />
  </div>

  <!--Image slideshow start-->
  <div class="card-header">
    <div id="myslide" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myslide" data-slide-to="0" class="active"></li>
        <li data-target="#myslide" data-slide-to="1"></li>
        <li data-target="#myslide" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <img
          class="carousel-item slideimage active"
          src="assets/img/bg5.jpg"
          alt="Slide1"
        />
        <img
          class="carousel-item slideimage"
          src="assets/img/bg6.jpg"
          alt="Slide2"
        />
        <img
          class="carousel-item slideimage"
          src="assets/img/header.jpg"
          alt="Slide3"
        />
      </div>

      <a class="carousel-control-prev" href="#myslide" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>

      <a class="carousel-control-next" href="#myslide" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  <br />

  <!--Navigation panel-->
  <div class="card-block bg-dark">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item" *ngFor="let tab of tabs">
        <a role="button" class="nav-link" (click)="tabActivate(tab.name)">{{tab.name}}</a>
      </li>
  
      <li class="nav-item">
        <app-login></app-login>
      </li>
    </ul>
  </div>

  <!--Homepage body content-->
  <div class="card-body text-center scroll bg-secondary" [ngSwitch]="tabName">
    <app-home *ngSwitchCase="'Home'"></app-home>
    <app-staff *ngSwitchCase="'Academic Staff'"></app-staff>
    <app-downloads *ngSwitchCase="'Downloads'"></app-downloads>
    <app-about *ngSwitchCase="'About'"></app-about>
  </div>

  <!--Homepage footer area-->
  <div class="card-footer text-center">
    <h1>Footer Here</h1>
  </div>
</div>
