<!--Image slideshow here-->
<div>
    <div id="myslide" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myslide" data-slide-to="0" class="active"></li>
            <li data-target="#myslide" data-slide-to="1"></li>
            <li data-target="#myslide" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <img class="carousel-item slideimage active" src="assets/img/bg5.jpg" alt="Slide1"/>
            <img class="carousel-item slideimage" src="assets/img/bg6.jpg" alt="Slide2"/>
            <img class="carousel-item slideimage" src="assets/img/header.jpg" alt="Slide3"/>
        </div>

        <a class="carousel-control-prev" href="#myslide" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a class="carousel-control-next" href="#myslide" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <br>
</div>

<!--Home body content here-->
<div class="container text-center">
    <h3 class="card-title">Welcome to Our Official Page</h3>

    <p>
        Voluptua scripserit per ad, laudem viderer sit ex. Ex alia corrumpit voluptatibus usu, sed unum convenire id. Ut cum nisl moderatius, per nihil dicant commodo an. Eum tacimates erroribus ad. Atqui feugiat euripidis ea pri, sed veniam tacimates ex. Menandri
        temporibus an duo.
    </p>

    <div class="row mt-5 mb-3">
        <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
                <span class="stats-no" data-toggle="counter-up">{{noOfStudent}}</span>Students
            </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
                <span class="stats-no" data-toggle="counter-up">{{noOfTeacher}}</span>Teachers
            </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
                <span class="stats-no" data-toggle="counter-up">{{noOfClass}}</span>Classes
            </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
                <span class="stats-no" data-toggle="counter-up">{{noOfNonAcademic}}</span>Non Academic staff
            </div>
        </div>
    </div>

</div>