<div>
    <h3 class="card-title">Welcome to Our Official Page</h3>
</div>

<div>
    <pre>
        Debbie put her hand into the hole, sliding her hand down as far as her arm could reach. She wiggled her fingers hoping to touch 
        something, but all she felt was air. She shifted the 
        weight of her body to try and reach an inch or two more down the hole. Her fingers still touched nothing but air.
        He had three simple rules by which he lived. The first was to never eat blue food. 
        There was nothing in nature that was edible that was blue. 
        People often asked about blueberries, but everyone knows those are actually 
        purple. He understood it was one of the stranger rules to live by, but it had served him well thus far in the 50+ years of his life.
        It seemed like it should have been so simple. There was nothing inherently difficult with getting the
         project done. It was simple and straightforward enough that even a child should have been able to complete it on time, but that wasn't the case.
          The deadline had arrived and the project remained unfinished.
        There was something beautiful in his hate.
         It wasn't the hate itself as it was a disgusting display of racism and intolerance. 
         It was what propelled the hate and the fact that although he had this hate, he didn't understand where it came from. 
         It was at that moment that she realized that there was hope in changing him.  
    </pre>
</div>