<div class="card-columns divHeight">
    <div class="card cardSize fontsmall" *ngFor="let member of staffDetails">
        <div class="card-img-top">
            <img src={{member.photoUrl}} alt="image">
        </div>
        
        <div class="card bg-success">
            <p class="card-title">{{member.name}}</p>
        </div>
            
        <div class="card-footer bg-warning text-center">
            <span class="card-text">Category : {{member.category}}</span>
             <br>
            <a href={{member.email}} class="card-text">Email : {{member.email}}</a>
        </div>
    </div>
</div>