<div class="panel-header"></div>

<div class="main-content">
    <div class="row">
        <!--O/L student list here-->
        <div class="col-md-7">
            <div class="card card-body">
                <h4 class="font-italic mb-4">"Year" O/L Student List</h4>
                <table class="table table-hover text-center">
                    <tr class="bg-info">
                        <th>Number</th>
                        <th>Index Number</th>
                        <th>Student ID</th>
                        <th>Name</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>145344</td>
                            <td>ST_1</td>
                            <td>My name</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Result of one student here-->
        <div class="col-md-5">
            <div class="card card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Year</label>
                            <input type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Index Number</label>
                            <input type="text" class="form-control" disabled>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Student Name</label>
                    <input type="text" class="form-control" disabled>
                </div>

                <!--Student subject list here-->
                <form>
                    <table>
                        <tr>
                            <td>
                                <label>Subject name</label>
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Subject name</label>
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>  <tr>
                            <td>
                                <label>Subject name</label>
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>  <tr>
                            <td>
                                <label>Subject name</label>
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>