.msg-error {
  color: rgb(221, 73, 73);
}

.my-error {
  text-align: center;
  border: red 2px solid;
  border-radius: 10px;
  background-color: rgb(241, 184, 184);
  padding: 10px;
}

.my-view {
  margin-left: 25%;
}

.form-error {
  color: red;
}
