<div class="panel-header"></div>

<div class="main-content">
    <div class="row">
        <!--First main column here-->
        <div class="col-md-7">
            <!--Year by year analysis-->
            <div class="row">
                <div class="card card-body m-2">
                    <h3 class="font-italic">G.C.E. O/L Examination Results Analysis</h3>
                    <h4 class="text-muted font-italic text-center">year by year analysis</h4>
                    <!--Result selection here to get student list-->
                    <div class="row">
                            <div class="col">
                                <label>Select Grade for Analysis</label>
                                <select (change)="allYearAnalysis(allYearGrade=$event.target.value)" class="form-control p-1">
                                    <option [value]="grade" *ngFor="let grade of grades">{{grade}}</option>
                                </select>
                            </div>

                            <div class="col">
                                <label>Select Count</label>
                                <select (click)="allYearAnalysis(allYearCount=$event.target.value)" class="form-control p-1">
                                    <option [value]="count" *ngFor="let count of counter">{{count}}</option>
                                </select>
                            </div>
                    </div>
                     
                    <!--Year by year analysis chart here-->
                    <div class="form-group mt-4">
                        <canvas class="bg-dark" baseChart
                            [data]="allYearData"
                            [labels]="allYearLabels"
                            legend="false"
                            chartType="line">
                        </canvas>
                    </div> 
                </div>
            </div>

            <!--Past year stat count analysis-->
            <div class="row">
                <div class="card card-body m-2">
                    <h4 class="font-italic text-center text-muted">{{year}} G.C.E. O/L Stats</h4>
                    
                    <!--Result selection here to get student list-->
                    <div class="row">
                        <div class="col">
                            <label>Select Grade for Analysis</label>
                            <select (change)="pastYearGrade=$event.target.value" class="form-control p-1">
                                <option [value]="grade" *ngFor="let grade of grades">{{grade}}</option>
                            </select>
                        </div>

                        <div class="col">
                            <label>Select Count</label>
                            <select (change)="pastYearCount=$event.target.value" class="form-control p-1">
                                <option [value]="count" *ngFor="let count of counter">{{count}}</option>
                            </select>
                        </div>
                    </div>
                
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-success btn-sm" (click)="pastYearAnalysis()">Analysis</button>
                        <button type="button" (click)="show=!show" class="btn btn-success btn-sm" [disabled]="!analysis">{{show? 'Hide': 'Show'}} Students</button>
                    </div>
    
                    <!--Past year details analysis pie chart here-->
                    <div class="form-group">
                        <canvas class="bg-dark p-2" baseChart
                            [data]="pastYearData"
                            [labels]="pastYearLabels"
                            chartType="pie">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

        <!--Second main column here-->
        <div class="col-md-5">
            <!--Subject wise analysis here-->
            <div class="row">
                <div class="card card-body m-2">
                    <h4 class="font-italic text-muted text-center">subject analysis</h4>
                    <!--subject and year selection here-->
                    <div class="row">
                        <div class="col">
                            <label>Year</label>
                            <input type="number" [value]="year" class="form-control">
                        </div>
    
                        <div class="col">
                            <label>Subject</label>
                            <select (change)="subjectAnalysis(subjectId=$event.target.value)" class="form-control">
                                <option>Maths</option>
                                <option>Science</option>
                                <option>Buddhism</option>
                                <option>English</option>
                                <option>Hitory</option>
                                <option>Sinhala</option>
                            </select>
                        </div>
                    </div>
                    <!--Subject dougnut chart here-->
                    <div class="form-group mt-4">
                        <canvas class="bg-dark p-2" baseChart
                            [data]="subjectData"
                            [labels]="subjectLabels"
                            chartType="doughnut">
                        </canvas>
                    </div>
                </div>
            </div>

            <!--Student list or total count details here-->
            <div class="row">
                <div class="card card-body m-2" *ngIf="show">
                    <table class="table table-hover text-center">
                        <tr class="bg-info">
                            <th>Index</th>
                            <th>Sudent ID</th>
                            <th>Class</th>
                        </tr>
    
                        <tbody>
                            <tr *ngFor="let student of pastYearStudentData| paginate: {currentPage: page,itemsPerPage: 10}">
                                <td>{{student.indexnumber}}</td>
                                <td>{{student.studentid}}</td>
                                <td>{{student.class}}</td>
                            </tr>
                        </tbody>
                    </table>
    
                    <div class="row mx-auto">
                        <pagination-controls (pageChange)="page=$event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>